<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="IsLogToFile" value="false" />
    <add key="IsLogToDataBase" value="false" />
    <add key="IsLogToConsole" value="false" />
    <add key="DbConnectionString" value="Data Source=(LocalDb);Initial Catalog=MyAppDB;Integrated Security=True" />
    <add key="FilePath" value="C:\work\" />
    <add key="LogSeverity" value="2"/>
  </appSettings>
</configuration>