<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="IsLogToFile" value="true" />
    <add key="IsLogToDataBase" value="false" />
    <add key="IsLogToConsole" value="true" />
    <add key="DbConnectionString" value="Data Source=(LocalDb);Initial Catalog=MyAppDB;Integrated Security=True" />
    <add key="FilePath" value="C:\work\" />
    <add key="LogSeverity" value="1"/>
  </appSettings>
</configuration>